# .gitconfig - Simplified Git Configuration

[user]
	name = rowan
	email = rowan@rowanudell.com
	signingkey = /Users/rowan/.ssh/id_rsa.pub

[alias]
	hist = log --pretty=format:\"%C(yellow)%h%Cblue%d%Creset %s %C(green) %an, %ar%Creset\" --graph --date=short

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[gpg]
	format = ssh

[includeIf "gitdir:~/Code/kablamo/"]
	path = /Users/rowan/Code/kablamo/.gitconfig

[includeIf "gitdir:~/Code/btc/"]
	path = /Users/rowan/Code/btc/.gitconfig